<% if @recommend.present? %>
  <% if @recommend.errors.any? %>
    <% @recommend.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new recommend
</h1>


<hr>

<form action="/create_recommend" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @recommend.song_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @recommend.activity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>

<hr>

<a href="/recommends">
  Go back
</a>
