<h1>
  Add a new playlists for activity
</h1>


<hr>

<!-- Form playlists_for_activity start -->
<form action="/create_playlists_for_activity" method="post">
<!-- Form playlists_for_activity end -->

  <!-- Label and input for activity_id start -->
  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <!-- Input for activity_id start -->
    <input type="text" id="activity_id" name="activity_id" class="form-control">
    <!-- Input for activity_id end -->
  </div>
  <!-- Label and input for activity_id end -->

  <!-- Label and input for playlist_id start -->
  <div class="form-group">
    <label for="playlist_id">
      Playlist
    </label>

    <!-- Input for playlist_id start -->
    <input type="text" id="playlist_id" name="playlist_id" class="form-control">
    <!-- Input for playlist_id end -->
  </div>
  <!-- Label and input for playlist_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create playlists for activity
  </button>
</form>

<hr>

<a href="/playlists_for_activities">
  Go back
</a>
