<!-- Form recommend start -->
<form action="/create_recommend_from_activity" method="post">
<!-- Form recommend end -->

  <!-- Label and input for song_id start -->
  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <!-- Input for song_id start -->
    <input type="text" id="song_id" name="song_id" class="form-control" value="<%= @recommend.song_id %>">
    <!-- Input for song_id end -->
  </div>
  <!-- Label and input for song_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @recommend.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for activity_id start -->
  <!-- Input for activity_id start -->
  <input type="hidden" name="activity_id" value="<%= @activity.id %>">
  <!-- Input for activity_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>
