<form action="/create_recommend_from_activity" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @recommend.song_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="activity_id" value="<%= @activity.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>
