<!-- Form recommend start -->
<form action="/create_recommend_from_activity" method="post">
<!-- Form recommend end -->

  <!-- Label and input for song_id start -->
  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <!-- Input for song_id start -->
    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @recommend.song_id), :class => "form-control") %>
    <!-- Input for song_id end -->
  </div>
  <!-- Label and input for song_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @recommend.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for activity_id start -->
  <!-- Input for activity_id start -->
  <input type="hidden" name="activity_id" value="<%= @activity.id %>">
  <!-- Input for activity_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>
