<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Playlists For Activities

    <a data-toggle="collapse" href="#activity_playlists_for_activities_new_form">
      Add playlists for activity
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @activity.playlists_for_activities.each do |playlists_for_activity| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/playlists_for_activities/<%= playlists_for_activity.id %>">
          <%= playlists_for_activity.activity_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_playlists_for_activity_from_activity/<%= playlists_for_activity.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="activity_playlists_for_activities_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
