<h1>
  Edit activity #<%= @activity.id %>
</h1>

<hr>

<form action="/update_activity/<%= @activity.id %>" method="post">

  <div class="form-group">
    <label for="activity_name">
      Activity name
    </label>

    <input type="text" id="activity_name" name="activity_name" class="form-control" value="<%= @activity.activity_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
