<h1>
  Add a new activity
</h1>


<hr>

<!-- Form activity start -->
<form action="/create_activity" method="post">
<!-- Form activity end -->

  <!-- Label and input for activity_name start -->
  <div class="form-group">
    <label for="activity_name">
      Activity name
    </label>

    <!-- Input for activity_name start -->
    <input type="text" id="activity_name" name="activity_name" class="form-control">
    <!-- Input for activity_name end -->
  </div>
  <!-- Label and input for activity_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
