<h1>
  Add a new activity
</h1>


<hr>

<form action="/create_activity" method="post">

  <div class="form-group">
    <label for="activity_name">
      Activity name
    </label>

    <input type="text" id="activity_name" name="activity_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
