<form action="/create_recommend_from_song" method="post">

  <input type="hidden" name="song_id" value="<%= @song.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @recommend.activity_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>
