<form action="/create_playlists_song_from_song" method="post">

  <input type="hidden" name="song_id" value="<%= @song.id %>">

  <div class="form-group">
    <label for="playlist_id">
      Playlist
    </label>

    <%= select_tag(:playlist_id, options_from_collection_for_select(Playlist.all, :id, :playlist_name, @playlists_song.playlist_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create playlists song
  </button>
</form>
