<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Activities
  </div>

  <ul class="list-group list-group-flush">
    <% @song.activities.each do |activity| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/activities/<%= activity.id %>">
          <%= activity.activity_name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
