<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recommends

    <a data-toggle="collapse" href="#song_recommends_new_form">
      Add recommend
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @song.recommends.each do |recommend| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/recommends/<%= recommend.id %>">
          <%= recommend.song_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%if current_user == recommend.user %>
          <a href="/delete_recommend_from_song/<%= recommend.id %>">
            Delete
          </a>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="song_recommends_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "song_templates/song_recommends_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
