<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Songs For Activities

    <a data-toggle="collapse" href="#song_songs_for_activities_new_form">
      Add songs for activity
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @song.songs_for_activities.each do |songs_for_activity| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/songs_for_activities/<%= songs_for_activity.id %>">
          <%= songs_for_activity.song_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_songs_for_activity_from_song/<%= songs_for_activity.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="song_songs_for_activities_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "song_templates/song_songs_for_activities_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
