<!-- Form recommend start -->
<form action="/create_recommend_from_song" method="post">
<!-- Form recommend end -->

  <!-- Label and input for song_id start -->
  <!-- Input for song_id start -->
  <input type="hidden" name="song_id" value="<%= @song.id %>">
  <!-- Input for song_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @recommend.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for activity_id start -->
  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <!-- Input for activity_id start -->
    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @recommend.activity_id), :class => "form-control") %>
    <!-- Input for activity_id end -->
  </div>
  <!-- Label and input for activity_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recommend
  </button>
</form>
