<form action="/create_playlists_song_from_playlist" method="post">

  <div class="form-group">
    <label for="song_id">
      Song
    </label>

    <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :artist, @playlists_song.song_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="playlist_id" value="<%= @playlist.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create playlists song
  </button>
</form>
