<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Playlists Songs

    <a data-toggle="collapse" href="#playlist_playlists_songs_new_form">
      Add playlists song
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @playlist.playlists_songs.each do |playlists_song| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/playlists_songs/<%= playlists_song.id %>">
          <%= playlists_song.song_id %>
        </a>

        <a href="/delete_playlists_song_from_playlist/<%= playlists_song.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="playlist_playlists_songs_new_form">
        <%= render partial: "playlist_templates/playlist_playlists_songs_new_form" %>
      </div>
    </div>

  </ul>
</div>
