<form action="/create_playlists_for_activity_from_playlist" method="post">

  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @playlists_for_activity.activity_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="playlist_id" value="<%= @playlist.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create playlists for activity
  </button>
</form>
