<!-- Form playlists_for_activity start -->
<form action="/create_playlists_for_activity_from_playlist" method="post">
<!-- Form playlists_for_activity end -->

  <!-- Label and input for activity_id start -->
  <div class="form-group">
    <label for="activity_id">
      Activity
    </label>

    <!-- Input for activity_id start -->
    <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :activity_name, @playlists_for_activity.activity_id), :class => "form-control") %>
    <!-- Input for activity_id end -->
  </div>
  <!-- Label and input for activity_id end -->

  <!-- Label and input for playlist_id start -->
  <!-- Input for playlist_id start -->
  <input type="hidden" name="playlist_id" value="<%= @playlist.id %>">
  <!-- Input for playlist_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create playlists for activity
  </button>
</form>
